<h1>login page</h1>
<form action="/home/login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit">login</button>
</form>